<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Patient</title>
    <link rel="stylesheet" href="/styles.css" th:href="@{/styles.css}"/>
</head>
<body>
<div class="container">

    <div class="page-header">
        <h1>MédiLabo Solutions</h1>
        <p th:text="${mode == 'create'} ? 'Ajouter un patient' : 'Modifier le patient'">Ajouter un patient</p>
    </div>

    <div class="card form-card">
        <form class="form-grid"
              th:object="${patientForm}"
              th:action="${mode == 'create'} ? @{/patients/new} : @{/patients/{id}/edit(id=${patientId})}"
              method="post">

            <div class="field">
                <div class="k">Prénom</div>
                <input type="text" th:field="*{firstName}" required>
            </div>

            <div class="field">
                <div class="k">Nom</div>
                <input type="text" th:field="*{lastName}" required>
            </div>

            <div class="field">
                <div class="k">Date de naissance</div>
                <input type="date" th:field="*{birthDate}" required>
            </div>

            <div class="field">
                <div class="k">Genre</div>
                <select th:field="*{gender}" required>
                    <option value="M">M</option>
                    <option value="F">F</option>
                </select>
            </div>

            <div class="field">
                <div class="k">Adresse (optionnel)</div>
                <input type="text" th:field="*{address}">
            </div>

            <div class="field">
                <div class="k">Téléphone (optionnel)</div>
                <input type="text" th:field="*{phone}">
            </div>

            <div class="form-actions">

                <a class="btn btn-ghost" th:href="@{/patients/{id}(id=${patientId})}">Annuler</a>
                <button class="btn btn-primary" type="submit"
                        th:text="${mode == 'create'} ? 'Ajouter' : 'Enregistrer'">
                    Ajouter
                </button>
            </div>

        </form>
    </div>
</div>
</body>
</html>
