<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Patients</title>
    <link rel="stylesheet" href="/styles.css" th:href="@{/styles.css}"/>
</head>
<body>
<div class="container">

    <div class="page-header">
        <h1>MédiLabo Solutions</h1>
        <p>Liste des patients</p>
    </div>

    <div class="list-wrap card">
        <div class="patient-list">
            <div class="patient-row" th:each="p : ${patients}">
                <div class="patient-left">
                    <div class="patient-name"
                         th:text="${p.firstName} + ' ' + ${p.lastName}">
                    </div>
                    <div class="patient-meta"
                         th:text="'Naissance: ' + ${p.birthDate}">
                    </div>
                </div>

                <a class="btn btn-primary" th:href="@{'/patients/' + ${p.id}}">Voir</a>
            </div>
        </div>
        <div class="list-footer">
            <a class="btn btn-primary" th:href="@{/patients/new}">Ajouter un patient</a>
        </div>
    </div>

</div>
</body>
</html>
